/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

@import "bootstrap";
@import "font-awesome";

ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}

li {
  list-style: none;
}
div.list-element{
  float: left;
}

button.delete-card {
  display: none;
}

div.card-el:hover {
  button.delete-card {
    display: block;
    float: right;
  }
}

div.list-element{
  width: 260px;
  background: #e2e2e2;
  border-radius: 4px;
  margin: 10px;
}

body {
  background: #23719F;
}

div.card-el {
  background: white;
  padding: 5px;
  margin: 2px 7px 5px;
  border-radius: 2px;
  box-shadow: 0 1px 0px #cbcbcb;
}

.card-place-highlight {
  height: 30px;
  padding: 5px;
  margin: 7px 5px;
  border-radius: 2px;
  background: #c2c2c2;
  border: none;

}

div.card-el:active {
  transform: rotate(5deg);
}

div.card-el:hover {
  background: #F0F0F0;
};


li.list-title {
  font-weight: bold;
  font-size: 14px;
  margin: 9px;
  border: 0;
  padding: 0;

}

button.delete-card{
  border: 0;
  padding: 0;
  background: inherit;
  color: #929292;
}
button.new-card {
  border: 0;
  padding: 0;
  color: #929292;
  background: inherit;
  padding: 2px;
  margin: 4px;
}

#sortable:hover {
  cursor: -webkit-grab;
  cursor: grab;
}
#sortable:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
};

div.create-card:hover{
 background: #c2c2c2;
 border-radius: 0 0 4px 4px;
}

li.new-list {
  float: left;
  width: 260px;
  border-radius: 4px;
  background: #40658b;
  padding: 5px;
  margin: 10px;
  border-radius: 4px;
}

li.new-list:hover {
  background: #345170;
  transition: 0.1s;
}

li.board-el {
  float: left;
  background: white;
  margin: 10px 50px;
  width: 20%;
  height: 50px;
  border-radius: 2px;
  font-weight: bold;
}

li.board-el > a {
  display: block;
  margin: 5px 10px;
  font-size: 15px;
}

li.board-el:hover {
  button.delete-board {

    display: block;
    float: right;
  }
}

h1.board-title {
  color: white;
  font-size: 24px;
  margin: 14px;
}
button.delete-board {
  display: none;
  border: 0;
  padding: 0;
  background: inherit;
  color: #929292;
}

.navbar-default {
  background: #0C6395;
  border: none;
  border-radius: 0;
}

.container-fluid {
  margin: 0;
  height: 40px
}

.container {
  width: 100%
}

a.navbar-brand {

}
